{
	"bracketSpacing": true,
	"bracketSameLine": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"arrowParens": "avoid",
	"tabWidth": 2,
	"endOfLine": "auto",
	"printWidth": 80,
	"useTabs": true,
	"semi": true,
	"insertPragma": false
}
